.button {
    color: #e7e7e7;
    background-color: rgb(94, 94, 94);
    background-image: linear-gradient(rgb(94, 94, 94), rgb(70, 70, 70));
    border: 1px solid #ccc;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 1.4;
    width: fit-content;
    margin: auto;
}

.assign-btn, .status-btn {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    color: #e7e7e7;
    background-color: rgb(94, 94, 94);
    background-image: linear-gradient(rgb(94, 94, 94), rgb(70, 70, 70));
    border-radius: 3px;
}

.input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 32rem;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1.4rem;
    background-color: rgb(240, 240, 240);
}

.input-label {
    text-align: center;
    font-weight: bold;
}

.select {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: auto;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(240, 240, 240);
}

.file-input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

account-view {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}