body {
    padding: 0;
    margin: 0;
}

.bottom-nav {
    background-color: rgb(91, 91, 91);
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.bottom-nav > a {
    width: 3rem;
    padding: 1rem 0.5rem 0.5rem;
    text-decoration: none;
}

.bottom-nav > a > div{
    width: 3rem;
    margin: auto;
    width: fit-content;
}

.bottom-nav > a > div > img {
    width: 3rem;
    height: auto;
}

.bottom-nav > a > p {
    font-size: 0.8rem;
    text-align: center;
    color: rgba(160, 160, 160, 0.5);
}

.bottom-nav > a.vertical-line:not(:first-of-type)::after {
    content: "";
    width: 2px;
    background: rgba(160, 160, 160, 0.5);
    margin-left: -2.5rem;
    height: 60%;
    position: absolute;
    top: 20%;
    display: block;
}

#loginError {
    opacity: 0;
    padding: 0.3rem;
    background-color: coral;
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-top: 1rem;
}

.register-box {
    margin-top: 1rem;
}

.button {
    color: #e7e7e7;
    background-color: rgb(94, 94, 94);
    background-image: linear-gradient(rgb(94, 94, 94), rgb(70, 70, 70));
    border: 1px solid #ccc;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    padding: 0.4rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 1.4;
    width: fit-content;
    margin: auto;
}

.input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem;
    box-sizing: border-box;
    width: 32rem;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1.4rem;
}

.input-label {
    text-align: center;
    font-weight: bold;
}

router-outlet {
    max-width: 94%;
    display: inline-block;
    overflow-x: scroll;
    padding: 3%;
}

.ticket-list {
    width: 94vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.7rem;
    margin-bottom: 130px;
}

single-ticket {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 55px;
    height: 100px;
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
}

single-ticket span {
    /* outline: 1px solid red; */
    overflow: hidden;
}

single-ticket span:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
}

single-ticket span:nth-of-type(2) {
    text-align: right;
}

single-ticket span:last-of-type {
    grid-column: 1 / 5;
}

.limited-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.limited-text-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.limited-text-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}



ticket-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    height: 80%;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

.modal-close {
    position: fixed;
    right: 1rem;
    top: 1rem;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.ticket-preview {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #f9f9f9;
}

.filter-sort-controls {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-sort-controls label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.filter-sort-controls select {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}


.filter-sort-controls label:has(> select) {
    width: 100%;
}

.filter-sort-controls label:has(> input[type="search"]) {
    grid-column: 1 / 4;
}

.input-search {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.filter-sort-controls select:focus {
    border-color: #007bff;
}

.assign-btn {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 0.2rem;
    background-color: #d568e6;
    border-radius: 3px;
}